// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$toolbar-content-padding-x: 12px;

$expansion-panel-header-padding: 16px 0;
$expansion-panel-content-padding: 16px 16px 16px;
